<div class="container main content padding-50">
  {% if section.settings.title != blank %}
  <h4 class="title center">{{  section.settings.title }}</h4>
  {% endif %}

  <div class="sixteen columns">
    {% if section.settings.title != blank %}
    <h5 class="title left">{{  section.settings.subtitle }}</h5>
    {% endif %}

    {% if section.settings.content != blank %}
    <div>{{ section.settings.content }}</div>
    {% endif %}


    <div class="bundle-section" style="background: {{ section.settings.background }}">
      <div class="product-bundle-section">
      {% for product in section.settings.product_list %}
        <div class="product-bundle">
          <img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt }}">
          <div class="product-bundle-title">
            {{ product.title }}
          </div>
        </div>
      {% endfor %}
      </div>
    </div>

  </div>
</div>
  
  
  
  {% schema %}
    {
      "name": "Never contains",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Clinically proven"
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": "After 4 weeks of use:"
        },
        {
            "type": "richtext",
            "id": "content",
            "label": "Content"
        },
        {
            "type": "header",
            "content": "Bundle"
        },
        {
            "type": "color",
            "id": "background",
            "label": "Background",
            "default": "#faf9f7"
        },
        {
            "type": "text",
            "id": "title_bundle",
            "label": "Title",
            "default": "Shop Bundle"
        },
        {
            "type": "product",
            "id": "bundle",
            "label": "Bundle product"
        },
        {
            "type": "product_list",
            "id": "product_list",
            "label": "Products",
            "limit": 5
        }
      ],
      "presets": [
      {
        "category": "Bundle",
        "name": "Bundle"
      }
    ]
    }
  {% endschema %}
  