{% assign show_section = false %}

{% if section.blocks.size > 0 %}
  {% for block in section.blocks %}
    {% if block.settings.image != blank %}
      {% assign show_section = true %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if show_section %}  
  <div class="container main content ingredients-section">
    <div class="nine columns offset-by-one">
      {% if section.settings.title != blank %}    
        <h4 class="title">{{ section.settings.title }}</h4>
      {% endif %}

      {% for block in section.blocks %}
        <div class="ingredient">
          {% if block.settings.image != blank %}
              <img src="{{ block.settings.image | img_url: 'master'}}" alt="{{ block.settings.name  }}">
          {% endif %}
          {%- if block.settings.name != blank or block.settings.content != blank -%}
          <div class="ingredient-description">
            {%- if block.settings.name != blank -%}
            <h3>{{ block.settings.name }}</h3>
            {%- endif -%}
            {%- if block.settings.content != blank -%}
              {{ block.settings.content }}
            {%- endif -%}
          </div>
          {%- endif -%}
        </div>
      {% endfor %}

    </div>

    <div class="seven columns">
      <figure class="bio-container">
        {% if section.settings.image != blank %}
        <img src="{{ section.settings.image | img_url: 'master' }}" alt="{{ section.settings.image.alt }}">
        {% endif %}
      </figure>
    </div>

  </div>
{% endif %}

  
  
{% schema %}
  {
    "name": "Ingredients",
    "max_blocks": 2,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ],
    "blocks": [
      {
        "type": "ingredients",
        "name": "Ingredients",
        "settings": [
          {
            "type": "text",
            "id": "name",
            "label": "Name"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          },
          {
              "type": "image_picker",
              "id": "image",
              "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}
  

<style>
  .ingredient img {
    width: 150px;
    height: 150px;
    margin-right: 10px;
}

.ingredient {
    display: flex;
    margin-bottom: 10px;
}

@media (max-width: 798px) {
  .ingredient {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .ingredients-section .title {
    text-align: center;
  }
}

.ingredient-description {
    max-width: 350px;
}

.ingredient-description h3 {
    color: black;
    margin-bottom: 10px;
}

.ingredients-section .title{
  max-width: 400px;
  color: black;
  font-weight: 500;
}
</style>